@page "{GenreId?}"
@model WebApp.Pages.SamplePages.AlbumsByGenreQueryModel
@{
    ViewData["Title"] = "Albums by Genre";
}

@section CustomCSS{
    <partial name="_MyCustomCSS" />
}

<h1>Albums by Genre</h1>
<section class="setflex">
    <div class="onehalf">
        <blockquote>
            This page is to demonstration:<br />
            <ul>
                <li>use of select tag</li>
                <li>use of input/datalist tag</li>
                <li>table creation</li>
                <li>paging</li>
                <li>customization</li>
            </ul>
        </blockquote>

        @if(Model.HasFeedBack)
        {
            <p>@Model.FeedBack</p>
        }

        @if(Model.HasErrorMsg)
        {
            <p style="color:firebrick; font-weight:bold;">@Model.ErrorMsg</p>
        }

        <form method="post">
            <label>
                Select Genre
                <select asp-for="GenreId">
                    <option vlaue="0">select genre ...</option>
                    @foreach(var item in Model.GenreList)
                    {
                        if(Model.GenreId == item.ValueId)
                        {
                            <option value="@item.ValueId" selected>@item.DisplayText</option>
                        }
                        else
                        {
                            <option value="@item.ValueId">@item.DisplayText</option>
                        }
                    }
                </select>
            </label>
            <button type="submit">Find Albums</button>
        </form>
    </div>
    <div class="onehalf">
        @if(Model.AlbumsOfGenre != null)
        {
            if(Model.AlbumsOfGenre.Count() == 0)
            {
                <p style="color:blue; font-weight:bold;">This genre has no tracks on any albums on file</p>
            }
            else
            {
                <table border="1">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Year</th>
                            <th>Label</th>
                            <th>Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.AlbumsOfGenre)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.ReleaseYear</td>
                                <td>@item.ReleaseLabel</td>
                                <td>@item.ArtistName</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            }
        }
    </div>
</section>