@page
@model WebApp.Pages.SamplePages.ControlsModel
@{
    ViewData["Title"] = "Various Controls";
}

@section CustomCSS{
    @* the css is coded using embedded css style coding
       the section has been declared on the _Layout page in
            the head tag using the RenderSection
       the actual css is located in the file called _MyCustomCSS
       this us of the render section demonstrates how to
            uee the partial name="filename" tag
       the contents of the file will be placed in the RenderSection
            declaration on the _Layout page
    *@
    <partial name="_MyCustomCSS" />
}

<h1>Various Form Controls</h1>

@if (!string.IsNullOrWhiteSpace(Model.FeedBack))
{
    <p>@Model.FeedBack</p><br />
}

<section class="setflex">
    <div class="onethird">
        <h3>TextBoxes</h3>
        <form method="post">
            <label>
                Email input
                <input type="email" asp-for="EmailText"
                    placeholder="enter email" />
            </label>
            <br />
            <label>
                Password input
                <input type="password" asp-for="PasswordText"
                    placeholder="enter password" />
            </label>
            <br />
            <label>
                Date input
                <input type="date" asp-for="DateTimeText"
                    placeholder="enter a date" />
            </label>
            <br />
            <button type="submit" value="textbox" id="theTextButton"
                name="theTextButton" asp-page-handler="Text">Text Submit</button>
        </form>
    </div>
    <div class="onethird">
        <h3>RadioButton, CheckBox and TextArea</h3>
        <form method="post">
            <label>
                Select favourite meal<br />
            </label>
            @*<input type="radio" asp-for="RadioMeal" value="breakfast" />
                &nbsp;Breakfast<br />
            <input type="radio" asp-for="RadioMeal" value="lunch" />
                &nbsp;Lunch<br />
            <input type="radio" asp-for="RadioMeal" value="dinner/supper" />
                &nbsp;Dinner/Supper<br />
            <input type="radio" asp-for="RadioMeal" value="snacks" />
                &nbsp;Snacks<br />
            *@
            @foreach(var item in Model.RadioMeals)
            {
                <input type="radio" asp-for="RadioMeal" value="@item" /> @item<br />
            }
            <br />
            <label>
                <input type="checkbox" asp-for="AcceptanceBox" value="true" />
                    &nbsp; I agree to the terms
            </label>
            <br />
            <label>
                Message
                <textarea rows="5" cols="60" placeholder="enter a message"
                    asp-for="MessageBody">@Model.MessageBody</textarea>
            </label>
            <br />
            <button type="submit" value="radiocheckarea" id="theRadioCheckAreaButton"
                name="theRadioCheckAreaButton" asp-page-handler="RadioCheckArea">
                Radio/Check/Area Submit</button>
        </form>
    </div>
    <div class="onethird">
        <h3>Lists and Sliders</h3>
        <form method="post">
            <label>
                Select favourite Ride<br />
                <select asp-for="MyRide">
                    <option value="0">select a ride ...</option>
                    @foreach(var item in Model.Rides)
                    {
                        <option value="@item.ValueId">@item.DisplayText</option>
                    }
                </select>
            </label>
            <br />
            <label>
                Select favourite Vacation Spot
                <input type="text" asp-for="VacationSpot"
                    list = "VacationChoices" />
                <datalist id="VacationChoices">
                    @foreach(var item in Model.VacationSpotList)
                    {
                        <option value="@item" />
@*                        <option value="@item">@item</option>*@ 
                    }
                </datalist>
            </label>
            <br />
            <label>
                Review of controls (bad < - > good)
                <input type="range" min="0" max="10" steps="1" value="5"
                    asp-for="RangeValue" checked="@Model.RangeValue" />
            </label>
            <br />
                <button type="submit" value="listslider" id="theListSliderButton"
                name="theListSliderButton" asp-page-handler="ListSlider">
                List/Slider Submit</button>

        </form>
    </div>
</section>

